@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}

:root {
    background-color: rgb(2 6 23);
    overflow: scroll;
    scrollbar-width: none;
}

@font-face {
    font-family: 'LabsAmiga';
    src: url('/fonts/labs.woff') format('woff');
}